@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #080202;
  font-family: "Poppins", sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-button-next::after{
  font-size: 25px;
}
.swiper-button-prev::after{
  font-size: 25px;
}
.swiper-button-prev{
  color: #DB241B;
}
.swiper-button-next{
  color: #DB241B;
}

.swiper-pagination-bullet{
  background-color:  #D3D2D2;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color:  #D3D2D2;
}

.menu{
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.nav-bar{
  display: flex;
  position: absolute;
}

.menu-1{
  margin-right: 180px ;
}
.menu-2{
  margin-left: 180px ;
  display: flex;
  align-items: center;
  margin-bottom: 170px;
}

.logo-1{
  width: 0;
}
.logo-2{
  width: 200px;
  height: fit-content;
}

.socials{
  display: flex;
  position: relative;
  top: 15px;
  left: 50px;
 
}
.socials > a .social:hover{
  transform: scale(1.5);
  transition: all .7s ease-in;
}
.socials-2{
  display: flex;
}
.socials-3{
  display: flex;
  position: relative;
  right: 20px;
}

.social{
  margin:  0 10px;
  height: 40px;
  width: 40px;
  border: 1px solid #DB241B;
  border-radius: 50%;
}

.social:hover{
  background-color: #DB241B;
}

.social img{
  margin: 8px 0 0 10px;
}

.menu .nav-bar ul li {
  position: relative;
  float: left;
}
.menu .nav-bar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #ffffff;
  display: block;
}
.menu .nav-bar ul li a:hover {
  color: #DB241B;
  
  transition: all .2s ease-out;
  border-bottom: 2px solid #DB241B;
  border-radius: 10%;
}

#menu{
  display: none;
}

.menu-icono{
  width: 25px;
}

.menu label{
  cursor: pointer;
  display: none;
}

.header-content {
  margin-top: 250px;
  padding-bottom: 50px;
}

.slider{
  display: flex;
  align-items: center;
}

.slider-text{
  margin-left: 70px;
  width: 50%;
}

.slider-text h1{
  font-size: 70px;
  color: #ffffff;
  text-transform: uppercase; 
  font-weight: 800;
}

.slider-text p {
  font-size: 18px;
  color: #a7a7a7;
}

.botones{
  margin-top: 50px;
}

.btn-1{
  display: inline-block;
  padding: 15px 35px;
  border: 2px solid #DB241B;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 20px;
  border-radius: 50px; 
  color: #D3D2D2;
}

.btn-1:hover{
  background-color: #DB241B;
  transition: all ease-in .2s;
}

.slider-img{
  width: 30%;
}

.slider-img img{
  margin-right: 250px ;
  width: 510px;
}

/* tabs */

.products {
  background-color: #0d0d0d;
}

.tabs{
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px;
}

.tabs label{
  width: 15%;
  order: 1;
  display: block;
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
  color: #a7a7a7;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  transition: background ease 0.2s;
}

.tabs .tab{
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding-top: 25px;
}

.tabs input[type="radio"]{
  display: none;
}
.tabs input[type="radio"]:checked + label{
  border-bottom: 2px solid #DB241B;
  color: #ffffff;
}

.tabs input[type="radio"]:checked + label + .tab{
  display: block;
}

.product {
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 0 10px;
}

.product-img {
  width: 50%;
  text-align: left;
}

.product-img h4{
  display: inline-block;
  padding: 5px 7px ;
  line-height: 15px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 800px;
  border: 2px solid #555555;
  border-radius: 10px;
  margin-bottom: 50px;
}

.product-img img{
  width: 150px;
  height: 150px;
}

.product-text{
  width: 50%;
  margin-left: 10px;
  text-align: left;
}

.product-text h4{
  color: #ffffff;
  font-size: 18px ;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
}

.product-text p{
  color: #a7a7a7;
  font-size: 16px;
  margin-bottom: 15px;
}

.product-text span{
  color: #ffffff;
  font-size: 18px;
  font-weight: 800;
}

.info{
  padding: 100px 0px;
  display: flex;
  align-items: center;
}

.info-img{
  width: 50%;
}

.info-img img{
  width: 450px;
  height: 450px;
}

.info-text{
  width: 50%;
}

.info-text h2{
  font-size: 75px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 25px;

}

.info-text p{
  font-size: 18px ;
  color: #a7a7a7;
  margin-bottom: 50px;
}

.btn-2{
  display: inline-block;
  padding: 15px 35px;
  background-color: #DB241B;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 50px;
}

.btn-2:hover{
  background-color: #DB241B;
}

.horario{
  padding: 100px  0px ;
  background-color: #0d0d0d;
}

.horario-info h2{
  font-size: 75px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase ;
  margin-bottom: 50px;
}

.horario-text{
  display: flex;
  justify-content: space-between;
}

.text{
  color: #ffffff;
}

.text h4{
  font-size: 18px;
  color: #a7a7a7;
}

.text p{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}

.map{
  filter: grayscale(100%) invert(92%) contrast(93%);
}

.footer{
  padding: 100px 0px;
  display: flex;
  justify-content: space-between;
}

.links h4{
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.links ul li a {
  color: #ffffff;
  font-size:  16px;
  margin-bottom: 5px;
  display: inline-block;
}

@media (max-width: 991px) {
  .menu{
    padding: 20px;
    justify-content: space-between;
  }
  .menu-2{
    display: none;
  }

  .logo-1{
    display: 100px;
  }
  .logo-2{
    width: 100px;
  }
  .menu label{
    display: initial;
  }

  .menu .nav-bar ul li{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #181818;
    display: none;
  }

  .menu .nav-bar ul li{
    width: 100%;
  }

  #menu:checked ~ .nav-bar {
    display: initial;
  }

  .header-content{
    padding: 30px;
  }

  .slider{
    flex-direction: column;
  }
  .slider-text{
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .slider-text h1{
    font-size: 50px;
  }

  .slider-text p{
    font-size: 16px;
  }

  .btn-1{
    padding: 10px 25px;
    font-size: 300px;
  }

  .slider-img{
    width: 100%;
    text-align: center;
  }
  .slider-img img{
    margin-right: 0px;
    width: 300px;
    
  }

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets, .swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
  bottom: -7px;
}

.tabs{
  padding: 50px 30px;
}

.tabs label{
  width: 33%;
}

.info{
  padding: 30px;
  flex-direction: column;
}

.info-img{
  width: 100%;
  text-align: center;
}

.info-img img{
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
}

.info-text{
  width: 100%;
  text-align: center;
}

.info-text h2{
  font-size: 50px;
}
.info-text p{
  font-size: 16px;
}
.btn-1{
  font-size: 16px;
}

.horario{
  padding: 30px;
  text-align: center;
}

.horario-info h2{
  font-size: 50px ;
  margin-bottom: 15px;
}

.horario-text{
  flex-direction: column;
}

.socials{
  justify-content: center;
  align-items: center;
  display: none;
}

.socials-3{
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.socials-3 img{
  margin-left: auto;
}

.socials img{
  margin: 8px 0 0 0;
}

.footer{
  padding: 30px;
  flex-direction: column;
  text-align: center;
}

.links h4{
  margin: 24px 0 10px 0;
}

}
